<!-- begin blog -->
<section class="section blog">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Recent posts</h2>
            <a class="section__link" href="/posts">View all posts</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts" | first 3 ) }}
      {{ range $paginator.Pages }}
        {{ partial "article-content.html" . }}
      {{ end }}
    </div>
  </div>

</section>
<!-- end blog -->