{{ define "main" }}

{{ if in .Permalink "/tags/" }}

<!-- begin archive -->
<div class="archive">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="archive__box">
          <span class="archive__counter">{{ len .Pages }} {{ if lt (len .Pages) 2 }}Post{{ else }}Posts{{ end }}</span>
          <h1 class="archive__title">{{ humanize .Title }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row animate">
      {{ range .Data.Pages }}
        {{ partial "article-content.html" . }}
      {{ end }}
    </div>
  </div>

</div>
<!-- end archive -->

{{ partial "section-subscribe.html" . }}

{{ else }}

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          <h1 class="hero__title">{{.Title}}</h1>
          <div class="hero__description">{{ .Description }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container">
  <div class="row animate">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts" ) }}
    {{ range $paginator.Pages }}
      {{ partial "article-content.html" . }}
    {{ end }}
  </div>
</div>

{{ partial "pagination.html" . }}

{{ partial "section-subscribe.html" . }}

{{ end }}

{{ end }}